<div class="navbar navbar-inverse navbar-fixed-top ng-scope">
  <div class="page-header ng-scope">
    <div class="logo pull-left">
      <a class="navbar-brand" href="/">Stancer UK</a>
    </div>

    <div class="left pull-left">
      <ul class="navbar-nav nav">
        <li><a href="/parties.html">Parties</a></li>
        <li><a href="/people.html">People</a></li>
        <li><a href="/issues.html">Issues</a></li>
      </ul>
    </div>

    <div class="pull-right">
      <ul class="navbar-nav nav">
        <li><a href="/about.html">About</a></li>
      </ul>
    </div>
  </div>
</div>
