---
layout: default
---

{% for issue in site.data.partystances %}
  {% if issue.id == page.id %}
  <h2>On {{ issue.html }}...</h2>
  <ul>
    {% for stance in issue.stances %}
      {% assign partyid = stance[0] %}
      {% assign sscores = stance[1] %}
      {% if sscores.num_votes > 0 and partyid != "speaker" and partyid != "deputy speaker" %}<li>{% include party_id.html id=partyid %} {% include stance.html scores=sscores %}</li>{% endif %}
    {% endfor %}
    {% break %}
  </ul>
  {% endif %}
{% endfor %}
