---
layout: default
---
 
<h2>{{ page.name }}</h2>

<h4>History:</h4>
<ul>
  {% for membership in page.memberships %}<li><a href="/party/{{membership.id}}.html">{{ membership.name }}</a> 
    {% if membership.start or membership.end %}({% endif %}
    {% if membership.start %}{{ membership.start | date: "%Y" }}{% endif %}
    {% if membership.start or membership.end %} – {% endif %}
    {% if membership.end %}{{ membership.end | date: "%Y" }}{% endif %}
    {% if membership.start or membership.end %}){% endif %}
  </li>{% endfor %}
</ul>

<h3>Stances:</h3>
<ul>
  {% for stance in page.stances %}
  {% if stance.num_votes > 0 %}<li>{% include stance.html stance=stance %}</li>{% endif %}
  {% endfor %}
</ul>
