---
layout: default
---
 
<h2>{{ page.title }}</h2>

<h4>History:</h4>
<ul>
  {% for membership in page.memberships %}<li><a href="/party/{{membership.id}}.html">{{ membership.name }}</a> 
    {% if membership.start or membership.end %}({% endif %}
    {% if membership.start %}{{ membership.start | date: "%Y" }}{% endif %}
    {% if membership.start or membership.end %} – {% endif %}
    {% if membership.end %}{{ membership.end | date: "%Y" }}{% endif %}
    {% if membership.start or membership.end %}){% endif %}
  </li>{% endfor %}
</ul>

<h3>Stances:</h3>
{% capture ranked_stances %}
{% for issue in site.data.mpstances %}
  {% assign stance = issue.stances[page.id] %}
  {% if stance.num_votes > 0 %}
  ++ENTRY++{{ stance.weight }}+++{{ issue.id }}+++{{ issue.html }}+++{% include stance.html scores=stance %}
  {% endif %}
{% endfor %}
{% endcapture %}
{% assign sorted_stances = ranked_stances | split:'++ENTRY++' | sort %}

<ul>
  {% for stance in sorted_stances reversed %}
  {% assign parts = stance | split:'+++' %}
  {% if parts[1] %}<li>{{ parts[3] }} <a href="/issue/{{parts[1]}}.html">{{ parts[2] }}</a></li>{% endif %}
  {% endfor %}
</ul>
