---
layout: default
---
 
<h2>{{ page.title }}</h2>

<h3>Stances</h3>
<ul>
  {% for issue in site.data.partystances %}
    {% for stance in issue.stances %}
      {% if stance.party == page.id %}
        {% if stance.scores.num_votes > 0 %}<li>{% include stance.html scores=stance.scores %} {{issue.html}}</li>{% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
</ul>

<h4>Members:</h4>
<ul>
{% for person in site.data.people %}
  {% assign displayed = 0 %}
  {% for membership in person.memberships %}
    {% if membership.organization_id == page.id and displayed == 0 %}
      <li><a href="/person/{{person.id}}.html">{{ person.name }}</a></li>
      {% assign displayed = 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
