---
layout: default
---
 
<h2>{{ page.title }}</h2>

<h3>Stances</h3>
<ul>
  {% for stance in page.stances %}
  <li>{% include stance.html score=stance.score max=stance.max_score text=stance.text %}
  {% endfor %}
</ul>

<h4>Members:</h4>
<ul>
{% for person in site.data.people %}
  {% assign displayed = 0 %}
  {% for membership in person.memberships %}
    {% if membership.organization_id == page.id and displayed == 0 %}
      <li><a href="/person/{{person.id}}.html">{{ person.name }}</a></li>
      {% assign displayed = 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
