---
layout: default
---
 
<h2>{{ page.title }}</h2>

<h3>Stances</h3>
{% capture ranked_stances %}
{% for issue in site.data.partystances %}
  {% assign stance = issue.stances[page.id] %}
  {% if stance.num_votes > 0 %}
  ++ENTRY++{{ stance.weight }}+++{{ issue.id }}+++{{ issue.html }}+++{% include stance.html scores=stance %}
  {% endif %}
{% endfor %}
{% endcapture %}
{% assign sorted_stances = ranked_stances | split:'++ENTRY++' | sort %}

<ul>
  {% for stance in sorted_stances reversed %}
  {% assign parts = stance | split:'+++' %}
  {% if parts[1] %}<li>{{ parts[3] }} <a href="/issue/{{parts[1]}}.html">{{ parts[2] }}</a></li>{% endif %}
  {% endfor %}
</ul>

<h4>Members:</h4>
<ul>
{% for person in site.data.people %}
  {% assign displayed = 0 %}
  {% for membership in person.memberships %}
    {% if membership.organization_id == page.id and displayed == 0 %}
      <li><a href="/person/{{person.id}}.html">{{ person.name }}</a></li>
      {% assign displayed = 1 %}
    {% endif %}
  {% endfor %}
{% endfor %}
</ul>
